@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,400;1,500;1,600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    
    margin:0 ;
    padding: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: white;
    box-shadow: gray;   
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;

   
    

    
}
header img{
    border-radius: 200px;
    width: 80px;
    margin-left:100px;
    margin-right: 30%;
}
header img:hover {
    cursor: pointer;
}
ul{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
ul li{
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
header button {
    
    display: inline-block;
    
    padding: 16px 48px;
    background: #490c19;
    border-radius: 15px;
    color: white;
    font-size: 15.2px;
    cursor: pointer;
    margin-right: 10%;
    font-weight: bold;
    
   
  }

  .carousel {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  
  .carousel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }
  
  .carousel img.active {
    opacity: 1;
  }





.home .slide{
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.home .slide .content{
    width: 80rem;
    text-align: center;
}

.home .slide .content h3{
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--white);
    line-height: 1.1;
    padding: 2rem 0;
}





.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: #0077b6;
    border-radius: .5rem;
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
    text-decoration: none;
}

header button:hover{
    display: inline-block;

    
    background: #0077b6;
    border-radius: .5rem;
    color: white;

    cursor: pointer;
    text-decoration: none;
}
.choose{
    width: 80px;
    font-size: 15px;
    margin-right: 200px;
    height: 18px;
    text-align: center;
    align-self: center;
    font-weight: bold;
}
.choose:hover {

}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 200px;
    background-color: #0077b6;
    height: 484px;
    align-items: center;
}

.image {
    width: 400px;
    
    padding: 10px;
    box-sizing: border-box;
}

.image img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.image img:hover {
    width: 120% ;
    height: 220px; 
    transition: 0.9s ease-in-out;
    cursor: pointer;   
    
}
.hide {
    display: none;
}
.item-card{
  
    display: flex;
    flex-direction: column;
    width: 200px;
    
    align-items: center;
    margin-bottom: 40px;
    
}
.item-img{
    width: 500px;
    height: 300px;
    border-radius: 100px;
}
.item-img:hover{
    cursor: pointer;
}
.america-container,
.france-container,
.canada-container,
.tunisia-container {
    margin-left: 300px;
    margin-top: 200px;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}
.item-img:hover{
    width: 550px;
    height: 330px;
    transition: .9s ease-in-out;
}
.item-card p {
    font-weight: bold;

}
.descDiv {
    display: flex;
    align-items: center;
    width: 200%;
    justify-content: space-between;
    margin-bottom: 11px;
    margin-top: 10px;
}

.item-card span{
    
    color:#f52424;
    font-weight: bold;
}

    #countrySection h1 {
        width: 15%;
        margin: 43px auto;
        font-size: 47px;
    }
#nav{
    text-decoration: none;
    color: black;
}





.footer{
    background: #0077b6;
    text-align: center;
    margin-top:200px ;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    padding: 1rem 0;
    color: white;
}

.footer .box-container .box a{
    font-size: 1.6rem;
    display: block;
    color: white;
    padding: 1rem 0;
}

.footer .box-container .box a i{
    color: #0077b6;
    text-decoration: none;
   
}



.footer .share{
    padding-top: 2rem;
    text-align: center;
}

.footer .share a{
    color:#0077b6;
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    border: .1rem solid #0077b6;
    margin: .3rem;
}

.footer .share a:hover{
    color: white;
    background: #0077b6;
    transform: rotate(360deg);
}

.footer .credit{
    font-size: 2rem;
    text-align: center;
    margin-top: 2.5rem;
    padding-top: 2rem;
    border-top: .1rem solid rgba(0, 0, 0, 0.3);
    color:white;
}

.footer .credit span{
    color: #0077b6;
}
.box-container h3 {
    color:white
}
#hotel-container{
    width: 140%;
    background-color: #0077b6;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
    height: 600px;
    align-items: center;
    margin-top: 100px;
    text-align: center;

   
    

}
#hotel-container img{
    width: 500px;
    height: 300px;
    border-radius: 20px;

}
#hotel-container img:hover {
    width: 600px;
    height: 400px;
    transition: 0.6s ease-in;
   
}
.room{
    width: 300px;
    color: black;
    margin: 200px auto;
    font-size: 40px;
}
.form-container {
    margin-top: 100px;
    display: flex;
    width: 100%;
    height: 300px;
    align-items: center;
    background-color: rgb(205, 194, 194);
    justify-content: center;
    
}
.form-container label,
.form-container input {
    display: flex;
    margin-bottom: 10px;
    font-size: 16px;
    color: #0077b6;
    height: 60px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left:20px ;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px;


  }

  
  .form-container input[type="submit"] {
    background-color: #0077b6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

  }

  
  
  